{% extends "layout.html.twig" %} {# appeler une page #}

{% import "macros/form.html.twig" as form %}

{% block content %}
    <div class="container">
        <form class="col-md-6 justify-content-center mt-5" action="?page=validation" method="post">
            {{ form.input('email', 'Email', 'email', 'Votre email', 'email')}}
            {{ form.textarea('message','Votre Message','text','Votre message','message') }}
        <button type="submit" class="btn btn-primary btn-lg mt-2"> Valider </button>
            {# <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Votre email</label>
                <input type="email" name="email" class="form-control">
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Votre message</label>
                <textearea name="message" class="form-control"></textearea>
            </div> #}
            
        </form>
    </div> 
{% endblock content %}


